body {margin:0;}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #454545;
    position: fixed;
    top: 0;
    width: 100%;
    -webkit-app-regin: drag;
  }

li {
    float: right;
    -webkit-user-drag: none;
    -webkit-user-select: none;
}

li:hover{
    background-color: #111;
}

li img {
    display: block;
    color: white;
    text-align: center;
    padding: 0.2em 0.3em;
    text-decoration: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
}

li#pinButton {
    padding-top: 2px; 
    padding-bottom: 2px
}

p#textArea {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    color: #FFF;
    /* resize: none; */
    outline: none;
    overflow: none;
    -webkit-user-select: none;
    -webkit-app-region: no-drag;
    padding-top: 1.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 0.2em

}